/*** ESSENTIAL STYLES ***/
ul#lemenu{
	float:right;
	text-transform:uppercase;
	margin:8px 0 0 0;
	padding:0;
	font-weight:600;
}
/*** ESSENTIAL STYLES ***/
.menubleu, .menubleu * {
	margin: 0;
	padding: 0;
	list-style: none;
}
.menubleu li {
	position: relative;
}
.menubleu ul {
	position: absolute;
	display: none;
	top: 100%;
	left: 0;
	z-index: 99;
}
.menubleu > li {
	float: left;
}
.menubleu li:hover > ul,
.menubleu li.sfHover > ul {
	display: block;
}

.menubleu a {
	display: block;
	position: relative;
}
.menubleu ul ul {
	top: 0;
	left: 100%;
}


/*** DEMO SKIN ***/
.menubleu {
	float: left;
	margin-bottom: 1em;
}
.menubleu ul {

	min-width: 15em; /* allow long menu items to determine submenu width */
	*width: 15em; /* no auto sub width for IE7, see white-space comment below */
}
.menubleu a {
	padding: .75em 1em;
	text-decoration: none;
	zoom: 1; /* IE7 */
}

ul.menubleu li a ul li:hover {
	color: #fff;
}
.menubleu a:hover {
	color: #fff;
}

.menubleu ul li {
	background: #6477BB;
	border-bottom:1px solid #213286;
	
}

ul.menubleu  li ul li a{
	color:#fff;
}
.menubleu a:focus, .menubleu a:hover, .menubleu a:active, .menubleu li:hover a {
    color:#fff !important;
}
.menubleu li:hover,
.menubleu li.sfHover {
		background: #213286;
	/* only transition out, not in */
	-webkit-transition: none;
	transition: none;
	color:#fff;
}
.menubleu li#active {
		background: #00aeef;
		color:#fff;
}
